body {
    font-family: Arial, sans-serif;
}

.import-container {
    margin-bottom: 20px;
}

.field-selection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.field-selection select {
    height: 150px;
    width: 200px;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.table-container {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
